{% extends 'profile/base.html.twig' %}

{% block presation %}
    <div class="text-center">
        <h3>Lancer la discution</h3>
        <p>{{ messagerie.title }}</p>
    </div>

    <div>
        {% for message in messagerie.messages %}
            <div class="card mt-3">
                <div class="card-header {% if app.user == message.user %} d-flex justify-content-end {% endif %}">
                    {{ message.user.name }}
                </div>

                <div class="card-body {% if app.user == message.user %} d-flex justify-content-end {% endif %}">
                    {{ message.content }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div>
        {{ form_start(form) }}
        {{ form_row(form.content) }}

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
