{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_row(name) }}
    </div>
    <div class="col-md-6">
        {{ form_row(email) }}
    </div>
</div>
<div>
    {{ form_row(email) }}
</div>

<div>
    {{ form_row(content) }}
</div>
{{ form_end(form) }}